<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".ControllerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name="com.utt.foodorderapp.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.utt.foodorderapp.activity.MainActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.FoodDetailActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.SignUpActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.SignInActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.ForgotPasswordActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.ChangePasswordActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AdminMainActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.OrderHistoryActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AddFoodActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AdminReportActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.ShipperMainActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AdminUserManagementActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.CatalogManagementActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.UpdateProfileActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.MapPickerActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AdminPromotionManagementActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.OrderTrackingActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AddressBookActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.VoucherHubActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.ShipperEarningsActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.RestaurantListActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.RestaurantFoodsActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.ReviewsListActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AdminUserStatsActivity"
            android:exported="false"/>
        <activity
            android:name="com.utt.foodorderapp.activity.AdminSystemReportActivity"
            android:exported="false"/>
    </application>

</manifest>